@if (TodoModel != null) {
    <div class="card mb-2">
        <div class="card-body">

            <div class="d-flex align-items-center justify-content-between">
                <h4 class="card-title">@TodoModel.Title </h4>
                @{
                    string cssDoneStyle = TodoModel.IsDone ? "fa fa-check-circle" : "far fa-circle";
                }
                <i @onclick="ToggleCheck" class="@cssDoneStyle fa-2x ms-2" style="cursor: pointer"></i>
            </div>

            <h6 class="card-subtitle">
                <span class="badge text-bg-secondary">
                    <i class="fa fa-calendar-day"></i>
                    @TodoModel.DueDate.ToShortDateString()
                </span>

                <span class="badge text-bg-dark">
                    <i class="fa fa-bullhorn"></i>
                    @TodoModel.StatusText
                </span>
            </h6>
            @TodoModel.Description
        </div>

        <div class="card-footer d-flex align-items-center  justify-content-between">
            <span class="badge text-white" style="background-color: @TodoModel.Category.Color; text-shadow: 0px 0px 5px black">
                @TodoModel.Category.Name
            </span>
            <div class="btn-group">
                @if (TodoModel.IsLocation) {
                    <button @onclick="GoToMap" title="@TodoModel.Location" class="btn btn-link">
                        <i class="fa fa-map-signs text-dark"></i>
                    </button>
                }
                <button @onclick="Remove" zdisabled="@(!TodoModel.IsRemovable)" class="btn btn-link">
                    <i class="fa fa-trash-alt text-@(TodoModel.IsRemovable?"danger":"secondary")"></i>
                </button>
            </div>
        </div>
    </div>
}